<% if notice.present? %>
  <p class="mb mt message message-notice text-green"><%= notice %></p>
<% end %>

<% if !Rails.env.test? && current_user.present? %>
  <div class="container mb-sm">
    <div class="text-title mb title-lg">
      <div>
        Hi, <%= current_user.name %>!
      </div>

      <div>
        <%= link_to fa_icon('address-card'), current_user,
          title: "Show my personal information" %>
      </div>
    </div>

    <div>
      <%= link_to "Go to posts", posts_path %>
    </div>
  </div>
<% end %>

<div class="container mb-sm">
  <div class="text-title mb title-lg">
    <h2>People</h2>

    <% if !Rails.env.test? && current_user.present? %>
      <div>
        <%= link_to "Add new person", new_person_path, class: "button button-main" %>
      </div>
    <% end %>
  </div>
</div>

<div id="people">
  <!-- <%= render @people %> -->
  <% @people.each do |person| %>
    <div class="mt-sm container">
      <%= render person %>
    </div>
  <% end %>
</div>
