<% if notice.present? %>
  <p class="mb mt message message-notice text-green"><%= notice %></p>
<% end %>

<div class="container mb-sm">
  <div class="text-title mb title-lg">
    <div>
      Hi, <%= @person.name %>!
    </div>

    <div>
      <%= link_to fa_icon('address-card'), @person,
        title: "Show information about this person" %>
    </div>
  </div>

  <div>
    <%= link_to "Go to posts", posts_path %>
  </div>
</div>

<div class="container mb-sm">
  <div class="text-title mb title-lg">
    <h2>People</h2>

    <div>
      <%= link_to "Add new person", new_person_path, class: "button button-main" %>
    </div>
  </div>
</div>

<div id="people">
  <!-- <%= render @people %> -->
  <% @people.each do |person| %>
    <div class="mt-sm container">
      <%= render person %>
    </div>
  <% end %>
</div>
