<p style="color: green"><%= notice %></p>

Hi, <%= @person.name %>!
<div>
  <%= link_to "Go to posts", posts_path %>
</div>

<h1>People</h1>

<div id="people">
  <% @people.each do |person| %>
    <%= render person %>
    <p>
      <%= link_to "Show this person", person %>
    </p>
  <% end %>
</div>
