<div class="navbar">
  <p class="title-sm text-bold">
    <% if current_user.present? %>
      <%= link_to "Publish!", root_path %>
    <% else %>
      <%= link_to "Read publications.", posts_path %>
    <% end %>
  </p>
  <div>
    <% if current_user.present? %>
      <%= content_tag 'span', "@#{current_user.nickname}",
        class: "mr-sm" %>
      <%= button_to 'Logout', session_path, method: :delete %>
    <% else %>
      <%= link_to 'Registration', new_person_path,
        class: "button button-yellow mr-sm" %>
      <%= link_to 'Login', new_session_path,
        class: "button button-yellow" %>
    <% end %>
  </div>
</div>
