<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="mb-sm red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p><%= form.label :title %></p>
    <p><%= form.text_field :title, class: "form-text-field" %></p>
  </div>

  <div>
    <p><%= form.label :person_id %></p>
    <p><%= form.text_field :person_id, class: "form-text-field" %></p>
  </div>

  <div>
    <p><%= form.label :body %></p>
    <p><%= form.text_area :body, rows: 7, class: "form-text-area" %></p>
  </div>

  <div class="mt">
    <%= form.submit 'Save', class: "button button-main" %>
  </div>
<% end %>
