<div class="container">
  <p class="mb-sm gr"><%= notice %></p>

  <h2 class="title-lg mb">Post</h2>

  <%= render @post %>

  <div class="mt-sm">
    <%= link_to fa_icon('pencil'), edit_post_path(@post), title: "Edit this post" %> |
    <%= link_to fa_icon('bars'), posts_path, title: "Back to posts" %> |
    <%= button_to fa_icon('trash-o'), @post, method: :delete, title: "Destroy this post" %>
  </div>
</div>
