<!DOCTYPE html>
<html>
  <head>
    <title>MeaPublisher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <p class="title-sm text-bold"><%= link_to "Publish!", root_path %></p>
        <div>
          <% if current_user.present? %>
            <%= content_tag 'span', "@#{current_user.nickname}",
              class: "mr-sm" %>
            <%= button_to 'Logout', session_path, method: :delete %>
          <% else %>
            <%= link_to 'Registration', new_person_path,
              class: "button button-yellow mr-sm" %>
            <%= link_to 'Login', new_session_path,
              class: "button button-yellow" %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
